<%  layout("layout") -%>


<div class="container">
	<div class="row">
		<% products.forEach(function(product){ %>
		<div class="col-md-3">
		<a href="/product/show/<%= product._id %>">
			<span class="thumbnail">
				<img src="<%= product.image %>" alt="">
				<span class="caption">
					<h3><%= product.name %> </h3>
					<p><%= product.category.name %> </p>
					<p>$<%= product.price %> </p>
				</span>

			</span>

		</a>

		</div>
		<% }) %>
	</div>
</div>